<h1>Welcome, <%= current_user.preferred_name %>.</h1>
<img src="<%= current_user.image_url %>" width="200" height="200">
<p><%= current_user.bio %></p>

<h2>Here are your adventures:</h2>

  <% current_user.adventures.each do |adventure| %>
    <img src="<%= adventure.image_url %>">
    <br>
    <%= adventure.date %>
    <br>
    <%= adventure.city %>, <%= adventure.country %>
    <br><br>
  <% end %>

