<h1>All Adventures</h1>

  <% @adventures.each do |adventure| %>
    <img src="<%= adventure.image_url %>" alt="<%= adventure.city %>" height="200, width="200">
    <br>
    <h4><a href="/adventures/<%= adventure.id %>"><%= adventure.city %>, <%= adventure.country %></a></h4>
    <h4><%= adventure.date %></h4>
    <h5><em>Posted By: <%= adventure.user.full_name %></h5></em>
    <h5><em>On: <%= adventure.created_at %></h5></em>
    <br>
  <% end %>
