<h1><%= @adventure.city %>, <%= @adventure.country %></h1>
<h3><em>Posted By: <%= @adventure.user.preferred_name %></h3></em>

  <img src="<%= @adventure.image_url %>" alt="<%= @adventure.city %>" height="300, width="300">
  <br>
  <h4><%= @adventure.date %></h4>
  
  <h5><em>On: <%= @adventure.created_at %></h5></em>
  <br>