<h1>Welcome, <%= current_user.preferred_name %>.</h1>
<img src="<%= current_user.image_url %>" width="200" height="200">
<p><%= current_user.bio %></p>

<h2>Here are your adventures:</h2>
<div class="flex-container">
  <% current_user.adventures.each do |adventure| %>
    <div class="item setWidth"><img src="<%= adventure.image_url %>">
    <br>
    <%= adventure.date %>
    <br>
    <%= adventure.city %>, <%= adventure.country %></div>
    <br>
  <% end %>
</div>

<h3>Post an adventure:</h3>
*Add link to add a new adventure here*

<h3>Log out:</h3>
*Add link to log out here*
